<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quotes</key>
	<array>
		<string>Elvis has left the</string>
		<string>I like big butts and</string>
		<string>My favorite time of year is</string>
		<string>A spoonful of sugar makes</string>
		<string>If life gives you lemons, make</string>
		<string>Maybe she&apos;s born with it, maybe</string>
		<string>Actions speak louder than</string>
		<string>A year from now I&apos;ll be</string>
		<string>The root of all evil is</string>
		<string>Life finds a</string>
		<string>It&apos;s time to let the cat out of</string>
		<string>Actions speak loud than</string>
		<string>You miss 100% of the shots you don&apos;t</string>
		<string>Welcome to the jungle, we&apos;ve got fun and</string>
		<string>Imagination is more important than</string>
	</array>
</dict>
</plist>
