<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Quotes</key>
	<array>
		<string>Elvis has left the</string>
		<string>I like big butts and</string>
		<string>My favorite time of year is</string>
		<string>A spoonful of sugar makes</string>
		<string>If life gives you lemons, make</string>
		<string>Maybe she&apos;s born with it, maybe</string>
		<string>The important thing is</string>
		<string>A year from now I&apos;ll be</string>
		<string>The root of all evil is</string>
		<string>Life finds a</string>
		<string>It&apos;s time to let the cat out of</string>
		<string>Actions speak louder than</string>
		<string>You miss 100% of the shots you don&apos;t</string>
		<string>Welcome to the jungle, we&apos;ve got fun and</string>
		<string>Imagination is more important than</string>
		<string>It takes two to</string>
		<string>Men are born to succeed, not</string>
		<string>Whatever you are, be a good</string>
		<string>If you&apos;ve never failed, you&apos;ve never</string>
		<string>Don&apos;t put all your eggs in one</string>
		<string>Whoever wins, we</string>
		<string>The road to hell is paved with</string>
		<string>I hope I&apos;m never attacked by</string>
		<string>I never leave home without my</string>
		<string>The coolest person I ever met was</string>
		<string>They made a movie about me. It was called</string>
		<string>The sequel to my biopic would involve</string>
		<string>If you put your mind to it, you can</string>
		<string>It&apos;s not delivery, it&apos;s </string>
		<string>I never judge a book by its</string>
		<string>Every cloud has a silver</string>
		<string>Kill two birds with one</string>
		<string>My inevitable autobiography will be titled</string>
		<string>When I die, my tombstone will say</string>
		<string>If I was an animal I&apos;d be a</string>
		<string>In high school, they called me</string>
		<string>You are what you</string>
		<string>It&apos;s the best thing since sliced</string>
		<string>Don&apos;t count your chickens before they</string>
		<string>Learn from yesterday, live for today, hope for</string>
		<string>I&apos;m voting for</string>
		<string>The best things in life are</string>
		<string>I&apos;m getting ready for</string>
		<string>I once was lost but now am</string>
		<string>Keeping my eye out for</string>
		<string>You can tell a lot about a person by their</string>
		<string>Good artists borrow, great artists</string>
		<string>Back in my day, we used to</string>
		<string>The only thing I&apos;m afraid of is</string>
		<string>If there&apos;s one thing I know, it&apos;s</string>
		<string>Get rich or</string>
		<string>Mind awake, body</string>
		<string>If you give a mouse a</string>
		<string>Live together, die</string>
		<string>Your wish is my</string>
		<string>Every heartbeat belongs to</string>
		<string>Get busy living or get busy</string>
		<string>Til death do us</string>
		<string>Not all who wander are</string>
		<string>Jesus take the</string>
		<string>This time it&apos;s</string>
		<string>I can&apos;t believe it&apos;s not</string>
		<string>Don&apos;t tell mom the babysitter&apos;s</string>
		<string>I&apos;m all about</string>
	</array>
</dict>
</plist>
